* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero {
  min-height: 100%;
  height: 700px;
  background: linear-gradient(135deg,
      #4f46e5,
      #7c3aed);
  position: relative;
  overflow: hidden;
}


.navbar {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  padding: 25px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

ul svg {
  height: 24px;
}

.navbar li {
  cursor: pointer;
}


.hero-content {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  width: 48%;
  color: white;
}

.hero-left h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero-left p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.preview {
  background: #081124;
  color: white;
  border: none;
  padding: 16px 38px;
  border-radius: 8px;
  cursor: pointer;
}

.template {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 16px 38px;
  border-radius: 8px;
  cursor: pointer;
}

.hero-right {
  width: 60%;
}

.hero-right img {
  width: 100%;
  display: block;
}


.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.circle1 {
  width: 1200px;
  height: 1200px;
  right: -250px;
  top: -350px;
}

.circle2 {
  width: 850px;
  height: 850px;
  right: -50px;
  top: -80px;
}

.extra-features {
  width: 100%;
  height: 300px;
  margin-top: -210px;
}

.features {
  padding: 120px 20px;
  background: #ffffff;
}

.feature-heading {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.feature-heading h2 {
  font-size: 52px;
  color: #081124;
  margin-bottom: 20px;
}

.feature-heading p {
  color: #6b7280;
  line-height: 1.8;
}

.feature-grid {
  max-width: 1200px;
  margin: 70px auto 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.feature-card {
  background: #f8fafc;
  padding: 35px 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-8px);
}

.feature-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid #e5e7eb;
  font-size: 30px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #081124;
}

.feature-card p {
  color: #6b7280;
  line-height: 1.7;
}

.extra-features {
  padding: 40px 20px 100px;
  background: #fff;
}

.more-btn-wrap {
  text-align: center;
  margin-top: 30px;
}

.more-btn {
  padding: 14px 35px;
  background: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  color: #374151;
  cursor: pointer;
  transition: 0.3s;
}

.layouts-section {
  width: 100%;
  height: auto;
  padding: 120px 20px;
  margin-top: 230px;
  background: #f8fafc;
}

.layouts-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.layouts-left {
  flex: 1;
}

.layouts-left h2 {
  font-size: 40px;
  color: #081124;
  margin-bottom: 25px;
}

.layout-desc {
  color: #6b7280;
  line-height: 1.9;
  margin-bottom: 35px;
  max-width: 650px;
}

.layout-item {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.layout-item h3 {
  color: #081124;
  margin-bottom: 10px;
  font-size: 22px;
}

.layout-item p {
  color: #6b7280;
  line-height: 1.7;
}

.layout-item.active {
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.layout-item.active h3 {
  color: #5b4cf0;
}

.layouts-right {
  flex: 1;
}

.layouts-right img {
  width: 100%;
  display: block;
}

.app {
  width: 100%;
  height: 100vh;
  padding: 8px;
}

.topbar {
  height: 60px;
  background: #d9d9dd;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.window-buttons {
  display: flex;
  gap: 8px;
}

.btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.red {
  background: rgb(248, 113, 113);
}

.yellow {
  background: rgb(250, 204, 21);
}

.green {
  background: rgb(74, 222, 128);
}

.container {
  display: flex;
  height: calc(100vh - 68px);
}

.demos-section {
  width: 100%;
  height: auto;
  padding: 0px 10px;
  background: #f8fafc;
  margin-top: 100px;
}

.demo-heading {
  text-align: center;
  margin-bottom: 60px;
}

.demo-heading h2 {
  font-size: 2.25rem;
  color: #081124;
  margin-bottom: 15px;
}

.demo-heading p {
  color: #6b7280;
  font-size: 1.125rem;

}

.demo-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.demo-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.demo-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.demo-card img {
  width: 100%;
  display: block;
}

.demo-card h4 {
  padding: 18px;
  text-align: center;
  font-size: 16px;
  color: #081124;
}

.more-card {
  height: 220px;
  display: flex;
  background-color: rgb(248, 250, 252);
  align-items: center;
  justify-content: center;
}

.more-card h3 {
  font-size: 18px;
  color: #081124;
}

.component-section {
  padding: 50px 20px;
  background: rgb(243, 244, 246);
  margin-top: 40px;
}

.component-header {
  max-width: 750px;
  margin: auto;
  text-align: center;
}

.component-header h2 {
  font-size: 37px;
  color: #081124;
  margin-bottom: 20px;
}

.component-header p {
  color: #64748b;
  line-height: 1.8;
  font-size: 18px;
}

.component-grid {
  max-width: auto;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.component-card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 18px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.component-card:hover {
  transform: translateY(-5px);
  border-color: #6366f1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.icon {
  color: #4f46e5;
  font-size: 20px;
}

.component-card h4 {
  font-size: 18px;
  color: #081124;
  font-weight: 600;
}

.btn-wrapper {
  text-align: center;
}

.view-btn {
  padding: 14px 30px;
  border: 1px solid #d1d5db;
  background: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #4f46e5;
  color: white;
  border-color: #4f46e5;
}


.app {
  width: 100%;
  /* height: 300px; */
  background: #f5f5f5;
}

.cta-section {
  width: 100%;
  height: 300px;
  /* padding: 20px 0 30px; */
}

.container {
  width: 90%;
  max-width: 1700px;
  margin: auto;
}


.cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}

.cta-left h1 {
  font-size: 1.875rem;
  color: #0f172a;
  font-weight: 700;
  margin-bottom: 25px;
}

.cta-left p {
  font-size: 1.125rem;
  color: #64748b;
  line-height: 1.8;
}



.cta-right {
  display: flex;
  gap: 40px;
  margin-left: 190px;
}

.preview-btn {
  width: 190px;
  height: 54px;
  border: 1px solid #d1d5db;
  background: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.preview-btn:hover {
  background: #fafafa;
}

.buy-btn {
  width: 130px;
  height: 54px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.buy-btn:hover {
  background: #4338ca;
}


.divider {
  width: 100%;
  height: 1px;
  background: #d9dee7;
}



.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}



.footer-bottom p {
  font-size: 18px;
  color: #64748b;
}

.footer {
  margin: 10px 35px 0;
  padding: 20px 0;
  border-top: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 14px;
}


.logo-text {
  font-size: 28px;
  font-weight: 700;
  color: #0f172a;
}

.footer-right {
  color: #64748b;
  font-size: 15px;
}


@media(max-width:992px) {

  .cta-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .cta-left h1 {
    font-size: 42px;
  }

  .cta-left p {
    font-size: 18px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media(max-width:576px) {

  .cta-right {
    width: 100%;
    flex-direction: column;
  }

  .preview-btn,
  .buy-btn {
    width: 100%;
  }

  .cta-left h1 {
    font-size: 32px;
  }

  .cta-left p {
    font-size: 16px;
  }

  .logo h2 {
    font-size: 28px;
  }

  .footer-bottom p {
    font-size: 14px;
  }
}


@media (max-width: 992px) {
  .component-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .component-grid {
    grid-template-columns: 1fr;
  }

  .component-header h2 {
    font-size: 34px;
  }

  .component-header p {
    font-size: 15px;
  }
}


@media (max-width: 992px) {
  .demo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .demo-grid {
    grid-template-columns: 1fr;
  }

  .demo-heading h2 {
    font-size: 34px;
  }
}


@media (max-width: 992px) {
  .layouts-container {
    flex-direction: column;
  }

  .layouts-left h2 {
    font-size: 36px;
  }

  .layouts-right {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .layouts-left h2 {
    font-size: 30px;
  }
}

.more-btn:hover {
  background: #f3f4f6;
}

@media (max-width: 992px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .feature-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 992px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .feature-grid {
    grid-template-columns: 1fr;
  }

  .feature-heading h2 {
    font-size: 35px;
  }
}


@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 45px;
  }

  .hero-right {
    margin-top: 40px;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .hero-left h1 {
    font-size: 35px;
  }

  .hero-left p {
    font-size: 16px;
  }
}